[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lib/token-tests"]
	path = lib/token-tests
	url = https://github.com/makerdao/token-tests
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib-0_6_x/dss-vest"]
	path = lib-0_6_x/dss-vest
	url = https://github.com/makerdao/dss-vest.git