# Compiler files
cache/
out/

# Ignores broadcast logs
/broadcast

# Ignores script config
/script/input/*/*.json
!/script/input/*/template-*.json
/script/output/*/*.json

# Docs
docs/

# Coverage report
lcov.info
report/

# Dotenv file
.env

# Node.js
node_modules/
